In [ ]:



# ETAPA DE PROCESAMIENTO DE DATOS

In [13]:
# Importamos las librerías que utilizaremos para el tratamiento de datos
import pandas as pd
import numpy as np
import json

In [105]:
# Cargamos los datos de la primera tabla
dropout = pd.read_csv('./dropout_90_dias_challenge.csv')
df_dropout = pd.DataFrame(dropout)
df_dropout

     PERFORMANCE_GROUP  email_identifier
0                    1               607
1                    0               446
2                    0               525
3                    1               376
4                    1               342
..                 ...               ...
643                  0                71
644                  0               628
645                  1               494
646                  0               360
647                  0               318

[648 rows x 2 columns]

In [189]:
# Cargamos la segunda tabla
empresa = pd.read_csv('./empresa_challenge.csv')
df_empresa = pd.DataFrame(empresa)
# Seleccionamos las columnas con mayor cantidad de características de valor.
df_empresa_premodel = df_empresa[['SEXO', 'ADH', 'PD', 'CSAT', 'AHT', 'email_identifier']].fillna(0)

    #df_empresa_filtered = df_empresa_model.query("ESTADO != 'ACTIVO'").copy()
    #subset_columns = ['email_identifier']
    #df_empresa_model = df_empresa_model.drop_duplicates(subset=subset_columns, keep='last')

# Seleccionamos y rellenamos los motivos de baja para brindar datos categóricos completos.
df_baja = df_empresa[['MOTIVO BAJA', 'ESTADO']].copy()
df_baja.loc[df_baja['ESTADO'] == 'ACTIVO', 'MOTIVO BAJA'] = df_baja.loc[df_baja['ESTADO'] == 'ACTIVO', 'MOTIVO BAJA'].fillna('CONTRATADO')
df_baja.loc[df_baja['ESTADO'] == 'INACTIVO', 'MOTIVO BAJA'] = df_baja.loc[df_baja['ESTADO'] == 'INACTIVO', 'MOTIVO BAJA'].fillna('NO ESPECIFICADO')
df_empresa_model = pd.concat([df_empresa_premodel, df_baja], axis="columns")

# Reemplazamos los valores de 'ACTIVO' e 'INACTIVO' por booleanos.
mapping = {'ACTIVO': 1, 'INACTIVO': 0}
df_empresa_model['ESTADO'] = df_empresa_model['ESTADO'].map(mapping)

# Convertimos el tipo de los valores de la columna 'email_identifier' a integer.
df_empresa_model['email_identifier'] = df_empresa_model['email_identifier'].astype(int)
df_empresa_model.to_csv('empresa_filtered.csv', index = False)
df_empresa_model

,SEXO,ADH,PD,CSAT,AHT,email_identifier,MOTIVO BAJA,ESTADO
0,M,0.945486,2.156372,0.541667,821.245570,0,NO ESPECIFICADO,0
1,M,0.970915,3.934885,0.511628,669.826087,0,NO ESPECIFICADO,0
2,M,0.994444,4.523044,0.527933,734.575139,0,NO ESPECIFICADO,0
3,F,0.999840,4.325660,4.500000,0.000000,1,CONTRATADO,1
4,F,0.989686,2.502333,4.796748,0.000000,1,CONTRATADO,1
...,...,...,...,...,...,...,...,...
2525,F,0.849695,4.086537,3.434783,0.000000,643,CONTRATADO,1
2526,F,0.613250,3.317594,5.000000,0.000000,643,CONTRATADO,1
2527,F,0.783269,0.000000,3.709677,0.000000,121,NO ESPECIFICADO,0
2528,F,0.485041,0.000000,2.111111,0.000000,121,NO ESPECIFICADO,0
2529,F,0.328727,0.000000,3.000000,0.000000,121,NO ESPECIFICADO,0

In [112]:
# ------- OMITIDO ---------#

# Cargamos la tercera tabla y seleccionamos 'email_identifier'. Este paso se omitirá y se explicará en el vídeo de porqué se tomó esa decisión.
ocean = pd.read_csv('./ocean_challenge.csv')
df_ocean = pd.DataFrame(ocean)
df_ocean_model = df_ocean[['email_identifier']]
df_ocean_model

     email_identifier
0                 458
1                 648
2                 649
3                 460
4                 650
..                ...
323               528
324               888
325               889
326               890
327               891

[328 rows x 1 columns]

In [42]:
# ------- OMITIDO ---------#

# Se selecciona y cargan los datos de la columna 'Meta' como json.
json_list = df_ocean['Meta'].apply(lambda x: json.loads(x))
json_list

0      {'done': 1, 'failed': 0, 'answers': [{'id': 32...
1      {'done': 1, 'failed': 0, 'answers': [{'id': 32...
2      {'done': 1, 'failed': 0, 'answers': [{'id': 32...
3      {'done': 1, 'failed': 0, 'answers': [{'id': 32...
4      {'done': 1, 'failed': 0, 'answers': [{'id': 32...
                             ...
323    {'done': 1, 'failed': 0, 'answers': [{'id': 32...
324    {'done': 1, 'failed': 0, 'answers': [{'id': 32...
325    {'done': 1, 'failed': 0, 'answers': [{'id': 32...
326    {'done': 1, 'failed': 0, 'answers': [{'id': 32...
327    {'done': 1, 'failed': 0, 'answers': [{'id': 32...
Name: Meta, Length: 328, dtype: object

In [75]:
# ------- OMITIDO ---------#

# Se construye el data frame con los resultados de cada una de las encuestas por categoría.
labels = ["Extroversion", "Agreeableness", "Conscientiousness", "EmotionalStability", "OpennessToExperience"]
total_data = {label: [] for label in labels}

for record in json_list:
    score_data = record['score'] 
    for label in labels:
        total = score_data[label]['total']
        total_data[label].append(total)

df_meta_data = pd.DataFrame(total_data)
df_meta_data

,Extroversion,Agreeableness,Conscientiousness,EmotionalStability,OpennessToExperience
0,31,36,38,29,35
1,32,32,48,36,36
2,39,50,49,42,47
3,34,42,42,38,38
4,34,44,43,38,41
...,...,...,...,...,...
323,39,49,50,43,48
324,36,43,39,40,43
325,30,38,41,38,41
326,35,49,50,44,47
327,28,43,44,33,34

In [122]:
# ------- OMITIDO ---------#

# Combinamos con el 'email_identifier' para asignar los resultados a las personas con dicho identificador.
merged_ocean_df = df_ocean_model.join(df_meta_data, how='outer')
merged_ocean_df.to_csv('merged_ocean.csv', index = False)
merged_ocean_df

,email_identifier,Extroversion,Agreeableness,Conscientiousness,EmotionalStability,OpennessToExperience
0,458,31,36,38,29,35
1,648,32,32,48,36,36
2,649,39,50,49,42,47
3,460,34,42,42,38,38
4,650,34,44,43,38,41
...,...,...,...,...,...,...
323,528,39,49,50,43,48
324,888,36,43,39,40,43
325,889,30,38,41,38,41
326,890,35,49,50,44,47
327,891,28,43,44,33,34

In [141]:
# ------- OMITIDO ---------#

# Se unen los DataFrames de 'empresa' con 'ocean'. Los datos no coinciden en casi ninguna entrada.
merged_ocean_empresa = pd.merge(df_empresa_model, merged_ocean_df, on='email_identifier', how='outer')
merged_ocean_empresa.to_csv('merged_ocean_empresa.csv', index = False)
merged_ocean_empresa

,SEXO,ESTADO,ADH,PD,CSAT,AHT,email_identifier,Extroversion,Agreeableness,Conscientiousness,EmotionalStability,OpennessToExperience
0,M,ACTIVO,0.000275,0.000000,0.000000,1.000000,0,NaN,NaN,NaN,NaN,NaN
1,F,ACTIVO,0.998062,4.857283,4.453947,0.000000,1,NaN,NaN,NaN,NaN,NaN
2,F,INACTIVO,1.000000,1.817920,0.545455,866.233333,2,NaN,NaN,NaN,NaN,NaN
3,F,ACTIVO,0.876344,1.950590,0.520000,569.488506,3,NaN,NaN,NaN,NaN,NaN
4,F,INACTIVO,0.400000,1.481481,0.666667,541.518519,4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
887,NaN,NaN,NaN,NaN,NaN,NaN,887,34.0,42.0,39.0,34.0,33.0
888,NaN,NaN,NaN,NaN,NaN,NaN,888,36.0,43.0,39.0,40.0,43.0
889,NaN,NaN,NaN,NaN,NaN,NaN,889,30.0,38.0,41.0,38.0,41.0
890,NaN,NaN,NaN,NaN,NaN,NaN,890,35.0,49.0,50.0,44.0,47.0
891,NaN,NaN,NaN,NaN,NaN,NaN,891,28.0,43.0,44.0,33.0,34.0

In [177]:
# Se combinan los DataFrames de 'empresa' con 'dropout' para saber quiénes se han retirado en 3 meses y bajo qué rendimiento.
merged_dropout_empresa = pd.merge(df_empresa_model, df_dropout, on='email_identifier', how='outer')
merged_dropout_empresa.to_csv('merged_dropout_empresa.csv', index = False)
merged_dropout_empresa

,SEXO,ADH,PD,CSAT,AHT,email_identifier,MOTIVO BAJA,ESTADO,PERFORMANCE_GROUP
0,M,0.945486,2.156372,0.541667,821.245570,0,NO ESPECIFICADO,0,0
1,M,0.970915,3.934885,0.511628,669.826087,0,NO ESPECIFICADO,0,0
2,M,0.994444,4.523044,0.527933,734.575139,0,NO ESPECIFICADO,0,0
3,M,0.714286,4.731895,0.500000,740.281482,0,NO ESPECIFICADO,0,0
4,M,0.000275,0.000000,0.000000,1.000000,0,CONTRATADO,1,0
...,...,...,...,...,...,...,...,...,...
2525,F,0.952748,15.173859,4.225657,0.000000,647,NO ESPECIFICADO,0,0
2526,F,0.952756,12.282393,4.111888,0.000000,647,NO ESPECIFICADO,0,0
2527,F,0.887660,11.019842,4.270833,0.000000,647,NO ESPECIFICADO,0,0
2528,F,0.977618,14.471477,4.275556,0.000000,647,NO ESPECIFICADO,0,0
2529,F,0.960863,14.043575,4.198738,0.000000,647,NO ESPECIFICADO,0,0

In [148]:
# ------- OMITIDO ---------#

# Se combinan los 3 DataFrames. Existe demasiado NaN para optar por una técnica para trabajar esos datos.
merged_df = pd.merge(merged_dropout_empresa, merged_ocean_df, on='email_identifier', how='outer')
merged_df.to_csv('merged_df.csv', index=False)
merged_df

,SEXO,ESTADO,ADH,PD,CSAT,AHT,email_identifier,PERFORMANCE_GROUP,Extroversion,Agreeableness,Conscientiousness,EmotionalStability,OpennessToExperience
0,M,ACTIVO,0.000275,0.000000,0.000000,1.000000,0,0.0,NaN,NaN,NaN,NaN,NaN
1,F,ACTIVO,0.998062,4.857283,4.453947,0.000000,1,0.0,NaN,NaN,NaN,NaN,NaN
2,F,INACTIVO,1.000000,1.817920,0.545455,866.233333,2,1.0,NaN,NaN,NaN,NaN,NaN
3,F,ACTIVO,0.876344,1.950590,0.520000,569.488506,3,1.0,NaN,NaN,NaN,NaN,NaN
4,F,INACTIVO,0.400000,1.481481,0.666667,541.518519,4,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
887,NaN,NaN,NaN,NaN,NaN,NaN,887,NaN,34.0,42.0,39.0,34.0,33.0
888,NaN,NaN,NaN,NaN,NaN,NaN,888,NaN,36.0,43.0,39.0,40.0,43.0
889,NaN,NaN,NaN,NaN,NaN,NaN,889,NaN,30.0,38.0,41.0,38.0,41.0
890,NaN,NaN,NaN,NaN,NaN,NaN,890,NaN,35.0,49.0,50.0,44.0,47.0
891,NaN,NaN,NaN,NaN,NaN,NaN,891,NaN,28.0,43.0,44.0,33.0,34.0

In [ ]:



# ETAPA DE MACHINE LEARNING

In [197]:
#Importamos la data de SciKit Learn para entrenar un algoritmo.

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [178]:
# Realizamos el split de características y variable objetivo.

X = merged_dropout_empresa.drop('PERFORMANCE_GROUP', axis=1)  # Features
y = merged_dropout_empresa['PERFORMANCE_GROUP']  # Target variable

In [184]:
# Definimos cuál es la información categórica que tenemos

categorical_features = X.select_dtypes(include=['object']).columns.tolist()
numerical_features = X.select_dtypes(exclude=['object']).columns.tolist()

In [185]:
# Verificamos las características categóricas
categorical_features

['SEXO', 'MOTIVO BAJA']

In [190]:
# Verificamos las características numéricas
numerical_features

['ADH', 'PD', 'CSAT', 'AHT', 'email_identifier', 'ESTADO']

In [191]:
# Pre procesamos la información con escalado y encoding.
preprocessor = ColumnTransformer([
    ('num', StandardScaler(), numerical_features),
    ('cat', OneHotEncoder(), categorical_features)
])

In [194]:
# Definimos el clasificador como un Random Forest.

classifier = RandomForestClassifier(n_estimators=100, random_state=42)

In [199]:
# Definimos el pipeline
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('classifier', classifier)
])

In [200]:
# Realizamos el Train/Test Split con 30% de tamaño de test.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [201]:
# Entrenamos el modelo.
pipeline.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num', StandardScaler(),
                                                  ['ADH', 'PD', 'CSAT', 'AHT',
                                                   'email_identifier',
                                                   'ESTADO']),
                                                 ('cat', OneHotEncoder(),
                                                  ['SEXO', 'MOTIVO BAJA'])])),
                ('classifier', RandomForestClassifier(random_state=42))])

In [202]:
# Verificamos las predicciones.
y_pred = pipeline.predict(X_test)
y_pred

array([1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0])

In [203]:
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.8708827404479579

In [204]:
print("Classification report:")
print(classification_report(y_test, y_pred))

Classification report:
              precision    recall  f1-score   support

           0       0.89      0.95      0.92       613
           1       0.73      0.53      0.61       146

    accuracy                           0.87       759
   macro avg       0.81      0.74      0.77       759
weighted avg       0.86      0.87      0.86       759

In [223]:



# PRUEBAS DE MODELO

In [215]:
# Se plantea un set de información nueva, le creé tomando características similares a las de una persona que no rotaría en 3 meses.
test1_dict = {'SEXO': 'M', 'ADH':0.467421, 'PD':3.431832, 'CSAT': 1.233232, 'AHT':505.374821, 'email_identifier':1000, 'MOTIVO BAJA':'NO ESPECIFICADO', 'ESTADO':0}
test1_df = pd.DataFrame(test1_dict, index=[1])
test1_df

,SEXO,ADH,PD,CSAT,AHT,email_identifier,MOTIVO BAJA,ESTADO
1,M,0.467421,3.431832,1.233232,505.374821,1000,NO ESPECIFICADO,0

In [211]:
# Se pone a prueba el modelo y se ve que lo clasifica como una persona que no rotaría en 3 meses.
test1 = pipeline.predict(test1_df)
test1

array([0])

In [218]:
# Se plantea otro set de prueba, en esta oportunidad se consideraron datos cercanos a los de una persona con tendencia a rotar en 3 meses.
test2_dict = {'SEXO': 'F', 'ADH':0.0210232, 'PD':0.0, 'CSAT': 0.0021043, 'AHT':898.203211, 'email_identifier':2000, 'MOTIVO BAJA':'DESVINCULACIÓN/AUSENTISMO', 'ESTADO':0}
test2_df = pd.DataFrame(test2_dict, index=[1])
test2_df

,SEXO,ADH,PD,CSAT,AHT,email_identifier,MOTIVO BAJA,ESTADO
1,F,0.021023,0.0,0.002104,898.203211,2000,DESVINCULACIÓN/AUSENTISMO,0

In [219]:
# Se pone a prueba y vemos que clasifica como una persona que sí rotaría en 3 meses.
test2 = pipeline.predict(test2_df)
test2

array([1])

In [221]:
# Se propone una tercera prueba con datos mixtos, el ADH, PD y MOTIVO BAJA son de una persona sin rotación en 3 meses. Sin embargo,
# el CSAT y el AHT sí son de rotación en una persona con tendencia de rotación de 3 meses.
test3_dict = {'SEXO': 'F', 'ADH':0.997843, 'PD':4.658390, 'CSAT': 0.0, 'AHT':981.0021021, 'email_identifier':3000, 'MOTIVO BAJA':'CONTRATADO', 'ESTADO':1}
test3_df = pd.DataFrame(test3_dict, index=[1])
test3_df

,SEXO,ADH,PD,CSAT,AHT,email_identifier,MOTIVO BAJA,ESTADO
1,F,0.997843,4.65839,0.0,981.002102,3000,CONTRATADO,1

In [222]:
# Se pone a prueba el modelo e indica que no es una persona con tendencia de rotación en 3 meses.
test3 = pipeline.predict(test3_df)
test3

array([0])